<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    @*<title>@ViewBag.Title</title>*@
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1 class="title">Welcome To A Website About Me!</h1>

    <main>
        @RenderBody()
    </main>

    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <br />
        <a asp-controller="Home" asp-action="About">About</a>
        <br />
        <a asp-controller="Home" asp-action="Contact">Contact</a>
    </nav>

    <footer>
        <p>&copy;@DateTime.Today.Year Scyllizzy's Website</p>
    </footer>
</body>
</html>
