<h1>Home</h1>

<h2>Hello!</h2>

<p>
    This website will teach you all about me! 
    Except it wont because I didn't put anything substantial on here. 
    Just putting some content on here so it looks a bit more filled out since it's practice.
</p>